.sidebar-item {

}

.sidebar-item__block {
  position: relative;
  display: block;
  padding: 12px 15px;
  color: #fff;
}

.sidebar-item__block.active {
  color: #fff;
  background-color: #20a8d8;
}

.sidebar-item__block:hover {
  background-color: #2e3c3e;
}

.sidebar-item__block-title {
  text-align: right;
  padding-left: .5em
}

.sidebar-item__block i {
  width: 17px;
  text-align: center;
}

.sidebar-item__link {
  text-decoration: none
}

.sidebar-item__dropdown {
  cursor: pointer;
  height: 48px;
}

.sidebar-item__dropdown i.fa-angle-left {
  width: 24px;
  height: 24px;
}

.sidebar-item__dropdown i.fa-angle-left .child-list {
  list-style: none;
  padding-left: 10px;
}

.sidebar-item__dropdown i.fa-angle-left .child-list__item {
  margin-top: 1px;
}
