<div class="sidebar-item">
  <a
    class="sidebar-item__block sidebar-item__link"
    routerLink="{{sidebarItem.url}}"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{exact: true}"
    *ngIf="sidebarItem.type === 'link'"
  >
    <i [ngClass]="sidebarItem.icon" aria-hidden="true"></i>
    <span class="sidebar-item__block-title">{{sidebarItem.title}}</span>
  </a>
  <div
    class="sidebar-item__block sidebar-item__dropdown"
    *ngIf="sidebarItem.type === 'dropdown'"
    (click)="sidebarItem.toggle = !sidebarItem.toggle"
  >
    <p>
      <i [ngClass]="sidebarItem.icon" aria-hidden="true"></i>
      <span class="sidebar-item__block-title">
        {{sidebarItem.title}}
      </span>
      <i
        class="fa fa-angle-left fa-pull-right"
        aria-hidden="true"
        [ngClass]="{'fa-rotate-270': sidebarItem.toggle}"
      ></i>
    </p>
    <ul class="child-list" *ngIf="sidebarItem.child && sidebarItem.child.length && sidebarItem.toggle">
      <li class="child-list__item" *ngFor="let item of sidebarItem.child">
        <app-sidebar-item [sidebarItem]="item"></app-sidebar-item>
      </li>
    </ul>
  </div>
</div>
