.sidebar {
  background-color: #29373e;
  position: fixed;
  z-index: 100;
  overflow: auto;
  top: 0;
  bottom: 0;
  width: 300px;
}
.brand {
  height: 56px;
}

.brand__link {
  display: block;
  width: 100%;
  height: 100%;
  background-color: #8BC34A;
  color: #fff;
  text-align: center;
  text-decoration: none;
  line-height: 56px;
  font-size: 1.5rem;
}

.brand__link-prefix {
  color: #000
}

nav {
  margin-top: 16px;
}

.sidebar-list {
  font-size: 14px;
  list-style: none;
  padding: 0;
}

.sidebar-list__item {
  margin-top: 1px;
}
