<section class="sidebar sidebar-left">
  <div class="brand">
    <a href="#" class="brand__link">
      Пожарная<span class="brand__link-prefix">Безопасность</span>
    </a>
  </div>
  <nav>
    <ul class="sidebar-list">
      <li class="sidebar-list__item" *ngFor="let item of sidebarItems">
        <app-sidebar-item [sidebarItem]="item"></app-sidebar-item>
      </li>
    </ul>
  </nav>
</section>
